<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@(ViewBag.Title)</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf8" />
    <meta http-equiv="Content-Language" content="zh-CN" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href="@Url.Content("~/Content/css/user_reg.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.11.1.js")" type="text/javascript"></script>
</head>
<body>
    <div class="login-box">
        @RenderBody()
    </div>
    <script type="text/javascript">
        $('.login-box').css('height', window.innerHeight);
        $(window).resize(function () {
            $('.login-box').css('height', window.innerHeight);
        });
    </script>
</body>
</html>
