@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id='calendar'></div>
<div class='calendarList'></div>
@section scripts{
    <script type="text/javascript">
        var currentLangCode = 'zh-cn';
        var currentDate = new Date();

        $(document).ready(function () {

            // build the language selector's options
            $.each($.fullCalendar.langs, function (langCode) {
                $('#lang-selector').append(
					$('<option/>')
						.attr('value', langCode)
						.prop('selected', langCode == currentLangCode)
						.text(langCode)
				);
            });

            // rerender the calendar when the selected option changes
            $('#lang-selector').on('change', function () {
                if (this.value) {
                    currentLangCode = this.value;
                    $('#calendar').fullCalendar('destroy');
                    renderCalendar();
                }
            });

            function renderCalendar() {
                $('#calendar').fullCalendar({
                    header: {
                        left: 'today',
                        center: 'prev title next',
                        right: 'month,agendaWeek,agendaDay'
                    },
                    lang: currentLangCode,
                    isRTL: false,
                    selectable: true,
                    selectHelper: true,
                    weekNumbers: false,
                    editable: true,
                    firstDay: 1,
                    dayClick: function (date, jsEvent, view) {
                        EventEditPanel({ start: date }, jsEvent);
                    },
                    eventClick: function (calEvent, jsEvent, view) {
                        EventEditPanel(calEvent, jsEvent);
                    },
                    viewRender: function (view, element) {
                        if (view.name == "month") {
                            $('#calendarList').remove();
                            $('.fc-view').removeClass('fc-agendaDay');
                            $('.fc-button.fc-button-prev').text('上月');
                            $('.fc-button.fc-button-next').text('下月');
                        } else if (view.name == 'agendaWeek') {
                            $('#calendarList').remove();
                            $('.fc-view').removeClass('fc-agendaDay');
                            $('.fc-button.fc-button-prev').text('上周');
                            $('.fc-button.fc-button-next').text('下周');
                        } else if (view.name == 'agendaDay') {
                            var currentSelDate = $('#calendar').fullCalendar('getDate');

                            if ($('#calendarList').length == 0) {
                                ShowSmallCanlendar(currentSelDate);
                            }

                            SetSmallCanlendarValue(currentSelDate);
                            $('.fc-button.fc-button-prev').text('昨天');
                            $('.fc-button.fc-button-next').text('明天');
                        }
                    },
                    events: [
						{
						    id: 1,
						    title: 'All Day Event',
						    people: 'Simon, Jingwen',
						    position: 0,
						    start: '2014-06-01'
						},
						{
						    id: 2,
						    title: 'Long Event',
						    people: 'Simon, Cici',
						    position: 0,
						    start: '2014-06-07',
						    end: '2014-06-10'
						},
						{
						    id: 3,
						    title: 'Repeating Event',
						    people: 'Simon, Julian',
						    position: 1,
						    start: '2014-06-09T16:00:00',
						    end: '2014-06-09T17:30:00'
						},
						{
						    id: 4,
						    title: 'Repeating Event',
						    people: 'Julian, Cici, Android',
						    position: 1,
						    start: '2014-06-16T16:00:00'
						},
						{
						    id: 5,
						    title: 'Meeting',
						    people: 'Victory, Android, Nacy, Bob',
						    position: 1,
						    start: '2014-06-12T10:30:00',
						    end: '2014-06-12T12:30:00'
						},
						{
						    id: 6,
						    title: 'Lunch',
						    people: 'Clear, Android, Chun, Juanjo, Stephen',
						    position: 2,
						    start: '2014-06-12T12:00:00'
						},
						{
						    id: 7,
						    title: 'Birthday Party',
						    people: 'Breanty, Nacy, Juanjo',
						    position: 2,
						    start: '2014-06-13T07:00:00'
						},
						{
						    id: 8,
						    title: 'Click for Google',
						    people: 'Bill Gates, Nacy, Mark',
						    position: 2,
						    url: 'http://google.com/',
						    start: '2014-06-28'
						}
					]
                });
            }

            renderCalendar();

        });

        function ShowSmallCanlendar(defaultData) {
            $('.fc-view').addClass('fc-agendaDay');
            var calendarLsit = $('.calendarList').clone();

            calendarLsit.attr('id', 'calendarList')
			.append('<div class="calendar-list-header">'
			+ '<div class="currentDayDetail"><div class="cdt-day"></div>'
			+ '<div class="cdt-date"></div></div>'
			+ '<div class="smallCanlendar"></div><div class="clear"></div></div>')
			.append('<div class="calendar-list-content"></div>');

            calendarLsit.insertBefore('.fc-view');
            $('.smallCanlendar').fullCalendar({
                lang: currentLangCode,
                weekNumbers: false,
                firstDay: 1,
                header: false,
                dayClick: function (date, jsEvent, view) {
                    $('#calendar').fullCalendar('gotoDate', date);
                    $('.smallCanlendar').fullCalendar('select', date);
                }
            });
        }

        function SetSmallCanlendarValue(currentSelDate) {
            $('#calendarList').find('.cdt-day').text(currentSelDate.format('D'));
            $('#calendarList').find('.cdt-date').text(currentSelDate.format('YYYY年M月D日 星期dd'));
            $('.smallCanlendar').fullCalendar('select', currentSelDate, currentSelDate);
        }

        function EventEditPanel(curEvent, jsEvent) {
            $('body').editPanel('destroy');

            var eventStartTime = curEvent.start ? curEvent.start.clone() : new Date();

            $('body').editPanel({
                id: curEvent.id,
                title: curEvent.title,
                position: curEvent.position,
                people: curEvent.people,
                start: eventStartTime,
                end: curEvent.end ? curEvent.end.clone() : eventStartTime.clone().add('hours', 1),
                jsEvent: jsEvent,
                submit: function () {

                }
            });
        } 
    </script>
}