@font-face{font-family:'Helvetica Neue';src:local("Helvetica Neue Light"),local("HelveticaNeue-Light"),url("../fonts/HelveticaNeue-Light.ttf") format("truetype"),url("../fonts/HelveticaNeue-Light.woff") format("woff");font-weight:300}@font-face{font-family:'Helvetica Neue';src:local("Helvetica Neue Medium"),local("HelveticaNeue-Medium"),url("../fonts/HelveticaNeue-Medium.ttf") format("truetype"),url("../fonts/HelveticaNeue-Medium.woff") format("woff");font-weight:500}@font-face{font-family:'Helvetica Neue XP';src:url("../fonts/HelveticaNeue-Light.svg#HelveticaNeue-Light") format("svg"),url("../fonts/HelveticaNeue-Light.woff") format("woff");font-weight:300}@font-face{font-family:'Helvetica Neue XP';src:url("../fonts/HelveticaNeue-Medium.svg#HelveticaNeue-Medium") format("svg"),url("../fonts/HelveticaNeue-Medium.woff") format("woff");font-weight:500}html{-ms-content-zooming:none}

html{ height:100%;}
body 
{
    height:100%;
    min-width:1000px;
	margin: 0;
	padding: 0;
	font-family: "Helvetica Neue", 'Microsoft Yahei', "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
	font-size: 14px;
	overflow:visible;
}
input{
	font-family: "Helvetica Neue", 'Microsoft Yahei', "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
}
select
{
    font-family: "Helvetica Neue", 'Microsoft Yahei', "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
}
a{ text-decoration:none; }
a:active{ color:inherit;outline: none; background-color:transparent;}
.clear{ clear:both}
table{border-collapse: collapse;}
.adm-catg{ float:left; height:100%;background-color:#58666F; }
.adm-cnt{ float:left; height:100%;}

.adm-catg .logo-link{ background-color:#3A434A; text-align:center; padding:20px 0; }
.adm-catg .logo-link a{ color:White; font-size:17px; font-weight:bolder;}
.adm-catg .catg-tree ul{ padding:0; margin:0;}
.adm-catg .catg-tree li{ list-style:none; font-size:15px; color:#9FAEB9;}
.adm-catg .catg-tree li a{color:#9FAEB9; display:inline-block; padding:10px 60px 10px 25px;  }
.adm-catg .catg-tree li span{ display:inline-block; margin-right:25px;  height:20px; width:25px; line-height:20px; background-image:url(/Content/images/admin-icon-little.png); background-color:transparent; vertical-align:sub;}
.adm-catg .catg-tree .catg-t-item-ui span{ background-position: 0 0;}
.adm-catg .catg-tree .catg-t-item-mt span{ background-position: -78px 0;}
.adm-catg .catg-tree li.catg-t-item-selected{ background-color:#49565E; color:White; border-left:3px solid #5DB8E2;}
.adm-catg .catg-tree li.catg-t-item-selected a{ color:White; }

.adm-cnt .u-act-bar{ padding:10px;}
.adm-cnt .u-act-bar .u-act{ padding:0 10px; border-radius:3px; margin-left:15px; float:left; cursor:default; display:block; height:29px; line-height:29px;border:1px solid #DDDDDD; color:#DDDDDD;}
.adm-cnt .u-act-bar .u-act.u-act-create{border:1px solid #27AE60; color:#27AE60;cursor:pointer;}
.adm-cnt .u-act-bar .u-act.u-act-del.u-act-selected{ border-color:#FF3B30; color:#FF3B30;cursor:pointer;}
.adm-cnt .u-act-bar .u-act.u-act-edit.u-act-selected{ border-color:#3498DB; color:#3498DB;cursor:pointer;}
.adm-cnt .u-act-bar .u-stat{ float:right; margin-top:13px;}

.adm-cnt .u-list table{ width:100%}
.adm-cnt .u-list table th,.adm-cnt .u-list table td{ padding:10px;}
.adm-cnt .u-list table th{ background-color:#3498DB; color:White; font-size:16px; font-weight:bolder;}
.adm-cnt .u-list .u-tb-tr-odd{ background-color:#F5F5F5}
.adm-cnt .u-list tbody tr:hover,.adm-cnt .u-list tbody tr.u-item-selected {
    background-color: #BFECFF;
}

.sticky-wrap {
	overflow-x: auto;
	overflow-y: hidden;
	position: relative;
	width: 100%;
}
.sticky-wrap .sticky-thead,
.sticky-wrap .sticky-col,
.sticky-wrap .sticky-intersect {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	transition: all .125s ease-in-out;
	z-index: 50;
	width: auto; /* Prevent table from stretching to full size */
}
.sticky-wrap .sticky-thead {
	box-shadow: 0 0.25em 0.1em -0.1em rgba(0,0,0,.125);
	z-index: 100;
	width: 100%; /* Force stretch */
}
.sticky-wrap .sticky-intersect {
	opacity: 1;
	z-index: 150;

}
.sticky-wrap .sticky-intersect th {
	background-color: #666;
	color: #eee;
}
.sticky-wrap td,
.sticky-wrap th {
	box-sizing: border-box;
}

.page_list { text-align: center; display: block; margin:30px auto 0 auto; width:100% }
.pg_ul { margin: 0 auto; padding: 0;  display:inline-block;*display:inline;zoom:1}
.pg_ul li { list-style: none; float:left; margin:0 5px;*display:inline; zoom:1}
.pg_ul li a { display: block; color: #26221F; font-size: 14px; text-decoration: none;  background-color:White; padding:6px 12px; }
.pg_ul li a:hover{background-color: #BFECFF; display: block; color:white; padding:6px 12px; border:none;}
.pg_ul li.i strong { background-color: #3498DB; display: block; padding:6px 12px; color:white; font-weight:normal; }